h1 {
    text-align: center;
}
.btn-space {
    margin-right: 5px;
    margin-bottom: 5px;
}
.jumbotron {
    background-image: url(../images/superheroes.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    color: blue;
}