h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #2f7ef7;
}
h2.favorites {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #2f7ef7;
}
.btn-space {
    margin-right: 5px;
    margin-bottom: 5px;
}
.jumbotron {
    background-image: url(../images/superheroes.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    color: blue;
}
.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}
.card-body {
    padding: .5rem;
}
  